@import url('https://fonts.cdnfonts.com/css/creepy-sunday');
/* font-family: 'Creepy Sunday', sans-serif;  titulo */
@import url('https://fonts.cdnfonts.com/css/creepster');
/* font-family: 'Creepster', sans-serif;  menu*/
@import url('https://fonts.cdnfonts.com/css/no-hubo-tiempo');
/* font-family: 'No hubo Tiempo', sans-serif;  subtitulo */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&family=Roboto&family=Source+Sans+3:wght@600&display=swap');
/* font-family: 'Nunito Sans', sans-serif; para el parrafo
 */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+3:wght@600&display=swap');
/* font-family: 'Source Sans 3', sans-serif;  boton */
@media screen and (min-width: 320px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    p{
        font-family: 'Nunito Sans', sans-serif;
    }
    /* inicio de menu */
    .enlace-logo{
        padding: 0px 12px;
        position: absolute;
    }
    .logo{
        height: 48px;
    }
    nav ul{
        float: right;
        margin-right: 2px;
    }
    nav ul li{
        line-height: 50px;
        margin: 2px;

    }
    nav ul li a{
        list-style: none;
        text-decoration: none;
        color: #f0e8e2;
        font-family: 'Creepster', sans-serif;
        font-size: 25px;
        text-align: center;
    }  
    .menu-container-nav .navbar{
        width: 150%;
        background-color: #581b98;
        height: 50px;
    }
    .menu-container-nav .navbar .logo{
        width: auto;
        height: 3rem;
        margin: 2px;
    }
    .menu-container-nav{
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        position: relative;
        z-index: 1;
    }
    .menu-btt .fi{
        position: absolute;
        top: 10px;
        right: 12px;
        cursor: pointer;
    }
    .menu-btt .checkbox{
        opacity: 0;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 10px;
        right: 12px;
    }
    .fi{
        pointer-events: none;
        font-size: 24px;
    }
    .fi-br-cross{
        display: none;
    }
    .checkbox:checked ~ .fi-br-menu-burger{
        display: none;
    }
    .checkbox:checked ~ .fi-br-cross{
        display: flex;
    }
    .menu-links{
        display: flex;
        flex-direction: column;
        display: inline;
        width: 200px;
        top: 50px;
        right: 0px;
        display: none;
    }
    .menu-links li{
        list-style: none;
    }
    .menu-links li a{
        text-decoration: none;
        color: inherit;
        background-color: #f3558e;
        margin: 5px;
        display: block;
    }
    /* .menu-links li a:hover{
        background-color: #fac4d8;
        display: block;
    } */
    .checkbox:checked ~ .menu-links{
        display: block;
    }
    @media screen and (min-width: 768px){
        .checkbox, .fi-br-menu-burger, .fi-br-cross{
            display: none;
        }
        .menu-links{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 48px;
            width: unset;
        }
        .menu-links li a{
            margin-right: 25px;
            background-color: #581b98;
            cursor: pointer;
        }
        .menu-links li a:hover{
            color: #ee84ab;
        }
    }
    /* inicio del main */
    .video-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        background: linear-gradient(90deg, rgba(96, 76, 195, 0.411) 0%, rgba(78, 21, 103, 0.425) 35%, rgba(216, 60, 102, 0.418) 100%);
        min-height: 100vh;
        margin-top: -150px;
        margin: 0;
    }
    .video-bg{
        position: absolute;
        display: none;
    }
    .video-bg2{
        /* width: 100%; */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
    }
    h1{
        color: #ffff;
        font-family: 'Creepy Sunday', sans-serif;
        font-size: 100px;
        font-weight: 150px;
        /* aqui tengo q poner una mediaquery para agrandar la letra */
    }
    @media screen and (min-width: 768px){
        .tittle-h1{
            font-size: 235px;
        }
    }
    /* inicio de presentacion */
    .container-principal{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image:  url(./img/wp2.png);
        background-position: top;
        width: 100%;
        height: 900px;
        background-attachment: fixed;
        color: white;
        padding: 5%;
    }
    .title-principal{
        font-family: 'No hubo Tiempo', sans-serif;
        font-size: 70px;
        padding-bottom: 25px;
    }
    .logo-principal{
        width: 200px;
        height: auto;
        /* en media query cambiar el tamaño de yamirawr */
    }
    .sub-title-principal{
        font-size: 25px;
        font-family: 'Nunito Sans', sans-serif;
    }
    .txt-principal{
        font-size: 20px;
        margin: 10px;
        font-family: 'Nunito Sans', sans-serif;
    }
    .txt-principal-contac{
        font-family: 'Nunito Sans', sans-serif;
        font-size: 25px;
    }
    .container-redes .btn-redes{
        margin: 50px 20px;
        width: 80px;
        height: auto;
        background: #f3558e;
        border-radius: 10%;
        filter: drop-shadow(7px 7px 15px #ffffff9d);
    }
    .container-redes a img{
        list-style: none;
        text-decoration: none; 
    }
    @media screen and (min-width: 768px){
        .container-principal{
            height: 1224px;
        }
        .logo-principal{
            width: 350px;
            height: auto;
            margin-top: 150px;
            margin-bottom: 80px;
        }
        .title-principal{
            font-size: 10rem;
        }
        .sub-title-principal{
            font-size: 3rem;
        }
        .txt-principal{
            font-size: 2rem;
        }
        .txt-principal-contac{
            font-size: 2.5rem;
        }
    }
    @media screen and (min-width: 1024px){
        .container-principal{
            height: 1440px;
        }
        .logo-principal{
            width: 400px;
            height: auto;
            margin-top: 250px;
            margin-bottom: 80px;
        }
    }
    /* inicio de about me */
    .container-aboutme{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image:  url(./img/wp2.png);
        background-position: top;
        width: 100%;
        height: 840px;
        background-attachment: fixed;
        color: white;
        padding: 5%;
    }
    .tittle-aboutme{
        font-family: 'No hubo Tiempo', sans-serif;
        font-size: 90px;
        margin: 50px;
    }
    .txt-aboutme{
        background-color: #00000049;
        border-radius: 15px;
        font-size: 35px;
        padding: 5%;
        margin: 10px;
    }
    @media screen and (min-width: 768px){
        .container-aboutme{
            height: 1024px;
        }
        .tittle-aboutme{
            font-size: 10rem;
        }
    }
    @media screen and (min-width: 1024px){
        .container-aboutme{
            height: 1440px;
        }
    }
    /* inicio de porfolio */
    .container-porfolio{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image:  url(./img/wp2.png);
        background-position: top;
        width: 100%;
        height: 900px;
        background-attachment: fixed;
        color: white;
        padding: 5%;
    }
    .title-porfolio{
        font-family: 'No hubo Tiempo', sans-serif;
        font-size: 100px;
        margin: 50px;
    }
    .porfolio-img{
        height: auto;
        width: 215px;
        padding: 25px;
    }
    @media screen and (min-width: 768px){
        .container-porfolio{
            height: 1024px;
        }
        .title-porfolio{
            font-size: 10rem;
        }
        .porfolio-img{
            height: auto;
            width: 350px;
        }
    }
    @media screen and (min-width: 1024px){
        .container-porfolio{
            height: 1440px;
        }
        .porfolio-img{
            height: auto;
            width: 550px;
        }
    }
    /* inicio de educacion */
    .container-education{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image:  url(./img/wp2.png);
        background-position: top;
        width: 100%;
        height: 900px;
        background-attachment: fixed;
        color: #ffff;
        padding: 5%;
    }
    .title-education{
        font-size: 100px;
        margin: 50px;
        font-family: 'No hubo Tiempo', sans-serif;
    }
    .container-education--div{
        font-family: 'Nunito Sans', sans-serif;
        background-color: #00000049;
        border-radius: 15px;
        font-size: 35px;
        padding: 5%;
        margin: 10px;
        font-size: 35px;
    }
    @media screen and (min-width: 768px){
        .container-education{
            height: 1024px;
        }
        .title-education{
            font-size: 10rem;
        }
    }
    @media screen and (min-width: 1024px){
        .container-education{
            height: 1440px;
        }
    }
    /* inicio de contact */
    .container-contac{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image:  url(./img/wp2.png);
        background-position: top;
        width: 100%;
        height: 990px;
        background-attachment: fixed;
        font-family: 'Nunito Sans', sans-serif;
        color: #ffff;
    }
    .title-contac{
        font-size: 95px;
        margin: 50px;
        font-family: 'No hubo Tiempo', sans-serif;
    }
    .container-contac-icon{
        margin: 15px;
    }
    .container-contac-icon .btn-redes{
        margin: 10px 15px;
        width: 80px;
        height: auto;
        background: #f3558e;
        border-radius: 10%;
        filter: drop-shadow(7px 7px 15px #ffffff9d);
    }
    .txt-contac{
        font-size: 30px;
        margin: 5px;
        font-family: 'Nunito Sans', sans-serif;
        padding: 10px;
    }
    .txt-contac a{
        color: #ffff;
    }
    @media screen and (min-width: 768px){
        .container-contac{
            height: 1024px;
        }
        .title-contac{
            font-size: 10rem;
        }
        .txt-contac{
            font-size: 3rem;
        }
    }
    @media screen and (min-width: 1024px){
        .container-contac{
            height: 1440px;
        }
    }
    /* inicio de formulario */
    .container-formulario{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image:  url(./img/wp2.png);
        background-position: top;
        width: 100%;
        height: 1250px;
        background-attachment: fixed;
        font-family: 'Nunito Sans', sans-serif;
        color: #ffff;
        padding: 10%;
    }
    .title-formulario-h3{
        font-size: 95px;
        margin: 50px;
        font-family: 'No hubo Tiempo', sans-serif;
    }
    .txt-formulario{
        font-family: 'Nunito Sans', sans-serif;
        background-color: #00000049;
        border-radius: 15px;
        font-size: 35px;
        padding: 5%;
        margin: 10px;
        font-size: 35px;
    }
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: 'Nunito Sans', sans-serif;
        background-color: #00000049;
        border-radius: 15px;
        font-size: 15px;
        padding: 5%;
        margin: 10px;
        font-size: 25px;
        min-width: 320px;
        height: auto;
    }
    .form-label{
        margin: 15px;
    }
    .form .form-control{
        width: 250px;
        height: auto;
        font-size: 25px;
        border-radius: 10px;
    }
    .btn-form{
        width: 180px;
        height: 60px;
        background: #f3558e;
        border-radius: 10px;
        filter: drop-shadow(7px 7px 15px #ffffff9d);
        border: none;
        font-family: 'Nunito Sans', sans-serif;
        color: #fff;
        font-size: 25px;
    }
    @media screen and (min-width: 768px){
        .form{
            font-size: 45px;
        }
        .container-formulario{
            height: 1800px;
        }
        .title-formulario-h3{
            font-size: 10rem;
        }
        .form .form-control{
            width: 550px;
            height: auto;
            font-size: 35px;
            border-radius: 10px;
        }
    }
    @media screen and (min-width: 1024px){
        .container-formulario{
            height: 2000px;
        }
    }
    /* inicio de footer */
    .container-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: url(./img/wp2.png);
        background-position: bottom;
        background-attachment: fixed;
        font-family: 'Nunito Sans', sans-serif;
        color: #fff;
        width: 100%;
        height: 200px;
    }
    .btn-footer{
        margin: 50px 20px;
        width: 60px;
        height: auto;
        background: #f3558e;
        border-radius: 10%;
        filter: drop-shadow(7px 7px 15px #ffffff9d);
    }
    span{
        margin-bottom: 35px;
    }
}